In [ ]:
import pandas as pd
import numpy as np
import sklearn
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

In [ ]:
train = pd.read_csv("data/train.csv")

In [29]:
catVars = [col for col in list(train) if train[col].dtype=="object"]
trainPlusDummies = pd.get_dummies(data=train,columns=catVars)
trainPlusDummies.dropna(inplace=True)

In [99]:
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LassoCV
from sklearn.model_selection import cross_val_score

In [91]:
X = trainPlusDummies.drop(columns=["SalePrice","Id"])
Y = trainPlusDummies.SalePrice
x_train,x_test,y_train,y_test = sklearn.model_selection.train_test_split(X,Y)

In [100]:
lasso = LassoCV()
rfe = RFECV(estimator=lasso,cv=5)
rfe.fit(x_train, y_train)
features = X.columns[rfe.get_support()]

In [101]:
X[features].head()

,LotArea,YearBuilt,MasVnrArea,BsmtFinSF1,TotalBsmtSF,GrLivArea,GarageArea,WoodDeckSF,PoolArea,GarageCond_Po,GarageCond_TA,PavedDrive_N
0,8450,2003,196.0,706,856,1710,548,0,0,0,1,0
1,9600,1976,0.0,978,1262,1262,460,298,0,0,1,0
2,11250,2001,162.0,486,920,1786,608,0,0,0,1,0
3,9550,1915,0.0,216,756,1717,642,0,0,0,1,0
4,14260,2000,350.0,655,1145,2198,836,192,0,0,1,0

In [105]:
x_train_new = sfm.transform(x_train)
x_test_new = sfm.transform(x_test)

In [106]:
linearModel = sklearn.linear_model.LinearRegression()
linearModel.fit(x_train_new,y_train)
scores = cross_val_score(linearModel,x_test_new,y_test,cv=10)

In [107]:
scores

array([ 0.83446041,  0.82459869,  0.76046815,  0.7847613 ,  0.70237961,
       -1.4551127 ,  0.89477545,  0.87328562,  0.83382059,  0.72467237])